{% extends 'base.html' %}

{% block content %}

  <div class="container">
      <div class="jumbotron">
          <h1 class="display-4"><i class="fas fa-address-book"></i> Address Book</h1>
          <a class="btn btn-primary btn-lg" href="{% url 'contact:create' %}" role="button"><i class="fas fa-edit"></i> Create Contact</a>
      </div>

      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Firstname</th>
              <th scope="col">Lastname</th>
              <th scope="col">Number</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for contact in contacts %}
              <tr>
                <th scope="row">{{ contact.id }}</th>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.lastname }}</td>
                <td>{{ contact.number }}</td>
                <td><a href=""><i class="fas fa-edit"></i></a> | <a href=""><i class="fas fa-trash-alt"></i></a></td>
              </tr>
              {% endfor %}

          </tbody>
        </table>
  </div>

{% endblock %}